header {
  bottom: 0;
  margin-top: 20px;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #ededef;
}

.menu_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-left__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  margin-right: 90px;
  flex-direction: row;
  cursor: pointer;
}

.menu-left__icon img {
  width: 30px;
  cursor: pointer;
}

.game_name {
  font-size: 30px;
  font-weight: bold;
}

.menu_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-right__icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.menu-right__icons img {
  margin-right: 15px;
  width: 30px;
}
